
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
    width: 5px; /* Adjust width here */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #88888883; /* Change thumb color */
    border-radius: 4px; /* Optional: Round the corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #55555586; /* Change thumb color on hover */
}

.sidebar-item {
    @apply  text-4xl py-8 w-full inline-block relative flex justify-center text-white ;
  }
.sidebar-item.active {
    @apply  text-primary  after:absolute after:content-[""] after:right-0 after:top-1 after:h-full after:w-3/4 after:bg-white after:rounded-l-[20px]  before:absolute before:content-[""] before:right-0 before:top-1 before:h-full before:w-[8px] before:bg-primary before:rounded-l-[20px] before:z-30;
  }